<h1><center>Add a Movie to Your Collection</center></h1><br>

<form method="post" action="/movies/new">

  <pre><h4>  Movie Name: <input type="text" name="movie[name]" required><br>
  Year Released: <input type="text" name="movie[year_released]" placeholder="optional"></h4>
      <button type="submit"><strong>Add Movie</strong></button></pre>

</form>

<blockquote><center><a href="/movies">Go Back to My Collection</a></center></blockquote>


