<h1>Add a Movie to Your Collection</h1>

<form method="post" action="/movies/new">

  <h3>Movie Name: <input type="text" name="movie[name]" required></h3>
  <h3>Year Released: <input type="text" name="movie[year_released]"></h3>

  <button type="submit">Add Movie</button>

</form>


