<h1>Welcome, <%= @user.name %></h1>

<h2>Movie Collection:</h2>




<% @user.movies.each do |movie| %>
  <h3><%= movie.name %> --
  <%= movie.year_released %> -- <a href="/movies/<%= movie.id %>/edit">Edit Movie</a></h3> <br>
  
<% end %> 



<h4><br><a href="/movies/new">Add New Movie</a><br></h4>



<h4><br><a href="/logout">Log Out</a></h4>