<h1>Please Log In</h1>

<form method="post" action="/login">

  <h4>Username: <input type="text" name="name" required></h4>
  <h4>Password: <input type="password" name="password" required></h4>

  <button type="submit">Log In</button>
</form>

<h4>Don't have an account? Create one <a href="/signup">here</a>!</h4>
