<center><h1>Please Log In</h1></center>

<form method="post" action="/login">

  <pre><h4>  Username: <input type="text" name="name" required><br>
  Password: <input type="password" name="password" required></h4>
     <button type="submit">Log In</button></pre>
</form>

<blockquote><h4>Don't have an account? Create one <a href="/signup">here</a>!</h4></blockquote>
