<center><h1>Sign Up</h1></center>

<form method="post" action="/signup">

  <pre><h4>  Username: <input type="text" name="name" required> <br>

  Email: <input type="email" name="email" required> <br>

  Password: <input type="password" name="password" required></h4>
   <button type="submit">Create Account</button></pre>

</form>

<blockquote><h4>Already have an account? Sign in <a href="/login">here</a>!</h4></blockquote>